{% extends 'base.html'   %}

{% block content %}
<div class="container card p-3 mt-5 border-dark" style="width: 95%;">
    <a href="{% url 'data_create' %}" class="btn btn-outline-primary mb-3">Go Home</a>
    <h5 class="card p-2 text-center mb-3">List of Candidates</h5>
    <table class="table table-bordered text-center">
        <thead class="table-secondary">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Career</th>
            </tr>
        </thead>
        {%  for data in data_read  %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.career }}</td>
        </tr>
        {% endfor %}
    </table>
 
</div>


{% endblock content %}